nav {
    font-family:Arial, Helvetica, sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 2rem;
    padding: 3rem;

    div {
        display: flex;
        justify-content: space-between;
    }

    a{
        border: solid 4px black;
        padding: 2rem;
    }
}